{% extends 'main/index.html' %}
{% block content %}

<section class="text-center home">
<div class="neon-wrapper">
    <pre class="ascii">
      .o.        .oooooo..o   .oooooo.   ooooo ooooo                      o8o              
     .888.      d8P'    `Y8  d8P'  `Y8b  `888' `888'                      `"'              
    .8"888.     Y88bo.      888           888   888   .ooooo.   .ooooo.  oooo  ooo. .oo.   
   .8' `888.     `"Y8888o.  888           888   888  d88' `"Y8 d88' `88b `888  `888P"Y88b  
  .88ooo8888.        `"Y88b 888           888   888  888       888   888  888   888   888  
 .8'     `888.  oo     .d8P `88b    ooo   888   888  888   .o8 888   888  888   888   888  
o88o     o8888o 8""88888P'   `Y8bood8P'  o888o o888o `Y8bod8P' `Y8bod8P' o888o o888o o888o
    </pre>
    <span class="gradient"></span>
    <span class="dodge"></span>
    </div>
    <p class="responsive-font">your trusted cryptocurrency</p>
</section>

{% endblock %}